<div class="competency-card">
    <div class="centered-title">
        <h2 data-i18n="programming_languages">
            <img src="assets/images/skills/programming_languages.png" alt="Programming Languages" class="icon">
            <span data-i18n="programming_languages_text">Lenguajes de Programación</span>
        </h2>
    </div>
    <ul class="languages-list">
        <li onclick="redirectToProject('C++')" style="cursor: pointer;">
            <i class="devicon-cplusplus-plain colored"></i><span>C++</span>
        </li>
        <li onclick="redirectToProject('C')" style="cursor: pointer;">
            <i class="devicon-c-plain"></i><span>C</span>
        </li>
        <li onclick="redirectToProject('Python')" style="cursor: pointer;">
            <i class="devicon-python-plain colored"></i><span>Python</span>
        </li>
        <li onclick="redirectToProject('Java')" style="cursor: pointer;">
            <i class="devicon-java-plain colored"></i><span>Java</span>
        </li>
        <li onclick="redirectToProject('TypeScript')" style="cursor: pointer;">
            <i class="devicon-typescript-plain colored"></i><span>TypeScript</span>
        </li>
        <li onclick="redirectToProject('Ruby')" style="cursor: pointer;">
            <i class="devicon-ruby-plain colored"></i><span>Ruby</span>
        </li>
        <li onclick="redirectToProject('VHDL')" style="cursor: pointer;">
            <img src="assets/images/logos/vhdl.png" alt="VHDL Logo" style="width: 40px; height: 40px; object-fit: contain;">
            <span>VHDL</span>
        </li>
    </ul>
</div>

<div class="competency-card">
    <div class="centered-title">
        <h2 data-i18n="web_development">
            <img src="assets/images/skills/web_development.png" alt="Web Development" class="icon">
            <span data-i18n="web_development_text">Desarrollo Web</span>
        </h2>
    </div>
    <ul class="languages-list">
        <li onclick="redirectToProject('HTML_CSS')" style="cursor: pointer;">
            <i class="devicon-html5-plain colored"></i>
            <i class="devicon-css3-plain colored"></i>
            <span>HTML5 & CSS3</span>
        </li>
        <li onclick="redirectToProject('React')" style="cursor: pointer;">
            <i class="devicon-react-plain colored"></i><span>React</span>
        </li>
        <li onclick="redirectToProject('JavaScript')" style="cursor: pointer;">
            <i class="devicon-javascript-plain colored"></i><span>JavaScript</span>
        </li>
    </ul>
</div>
<div class="competency-card">
    <div class="centered-title">
        <h2 data-i18n="databases">
            <img src="assets/images/skills/databases.png" alt="Databases" class="icon">
            <span data-i18n="databases_text">Bases de Datos</span>
        </h2>
    </div>
    <ul class="languages-list">
        <li onclick="redirectToProject('MySQL')" style="cursor: pointer;">
            <i class="devicon-mysql-plain colored"></i><span>MySQL</span>
        </li>
        <li onclick="redirectToProject('PostgreSQL')" style="cursor: pointer;">
            <i class="devicon-postgresql-plain colored"></i><span>PostgreSQL</span>
        </li>
        <li onclick="redirectToProject('MongoDB')" style="cursor: pointer;">
            <i class="devicon-mongodb-plain colored"></i><span>MongoDB</span>
        </li>
    </ul>
</div>

<div class="competency-card">
    <div class="centered-title">
        <h2 data-i18n="development_environments">
            <img src="assets/images/skills/development_environments.png" alt="Development Environments" class="icon">
            <span data-i18n="development_environments_text">Entornos de Desarrollo</span>
        </h2>
    </div>
    <ul class="languages-list">
        <li onclick="redirectToProject('QT')" style="cursor: pointer;">
            <i class="devicon-qt-plain colored"></i><span>QT</span>
        </li>
        <li onclick="redirectToProject('VisualStudio')" style="cursor: pointer;">
            <i class="devicon-visualstudio-plain colored"></i><span>Visual Studio</span>
        </li>
        <li onclick="redirectToProject('Eclipse')" style="cursor: pointer;">
            <img src="assets/images/logos/eclipse.png" alt="Eclipse Logo" style="width: 40px; height: 40px; object-fit: contain;">
            <span>Eclipse</span>
        </li>
        <li onclick="redirectToProject('Vivado')" style="cursor: pointer;">
            <img src="assets/images/logos/vivado.png" alt="Vivado Logo" style="width: 40px; height: 40px; object-fit: contain;">
            <span>Vivado</span>
        </li>   
        